.background{
background-color: var(--teal);
background-image: url('../images/blocks.PNG');
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-position-x: 50%;
background-position-y: 20%;
}
.background-solid {
    background-color: var(--teal);
}
:root {
    --black: black;
    --white: white;
    --teal: #469997;
    --yellow: #DFBA73;
    --gray: #7E7C87;
    --lightteal: #A0D7D1;
}
body {
    font-family: 'Covered By Your Grace', cursive;
}
/*NAV BAR*/
header nav {
    margin-top: 20px;
    text-align: center;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
header nav ul li a {
    color: var(--lightteal);
    text-decoration: none;
    font-size: 24px;
    padding: 0 5px 0 5px;
}
header nav ul li a:hover {
    color: var(--yellow);
    text-decoration: none;
}
/* LANDING PAGE*/
.intro-message {
    margin-top: 80px;
    text-align: right;
    padding: 159px 62px 0 0;
    font-size: 32px;
    font-weight: bold;
}
/* ABOUT ME */
.about-img-holder {
    padding-top: 50px;
    text-align: center;
}
.about-me {
    padding: 10px 20px 0 20px;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 20px;
}
.about-img {
    width: 270px;
    height: auto;
    object-fit: cover;
}
/* PROJECTS*/
.project {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}
.project-info a {
    color: var(--lightteal);
    text-decoration: none;
}
.project-img {
    padding-bottom: 8px;
    border-radius: 10px;
    opacity: 70%;
    transition: transform .2s;
    height: 12rem;
    width: 20rem;
}
.project-img:hover {
    opacity: 150%;
    transform: scale(1.2);
}
.project-info {
    text-align: left;
    font-size: 20px;
    color: var(--black);
}
.project-title {
    text-align: center;
    font-size: 28px;
    color:var(--yellow);
}

/* CONTACT SECTION */
.contact {
    padding-top: 20px;
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    color: var(--black);
}
.contact-img-holder {
    text-align: center;
    flex: 1 100%;
}
.logo-links {
    border-radius: 15px;
    height: 65px;
    width: 65px;
    margin: 10px;
}










