/*
.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}
*/
.background-solid {
    background-color: var(--teal);
}
:root {
    --black: black;
    --white: white;
    --teal: #469997;
    --yellow: #DFBA73;
    --gray: #7E7C87;
    --lightteal: #A0D7D1;
}
body {
    font-family: 'Covered By Your Grace', cursive;
    background-color: var(--teal);
    padding: 0;
    margin: 0;
}

/*NAV BAR*/
header nav {
    margin-top: 10px;
    text-align: center;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 10px 0 10px;
}
header nav ul li a {
    color: var(--lightteal);
    text-decoration: none;
    font-size: 6.5vw;
    padding: 0 2px 0 2px;
}
header nav ul li a:hover {
    color: var(--yellow);
    text-decoration: none;
}
/* LANDING PAGE*/
.intro-message {
    text-align: right;
    padding: 125px 60px 0 0;
    font-size: 8vw;
    font-weight: bold;
}
/* ABOUT ME */
.about-img-holder {
    padding-top: 35px;
    text-align: center;
}
.about-me {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 5.25vw;
    padding: 2vw 4vw 1vw 4vw;
}
.about-img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

/* PROJECTS*/

.projects-deployed.swiper {
    width: 90%;
    height: 100%;
    max-height: 550px;
    margin-top: 100px;
  }

.projects-deployed .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  .projects-deployed .card-inner h1 {
    font-family: 'Covered By Your Grace', cursive;
  }

  .projects-deployed .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 300px;
    height: auto;
    margin: auto;
}

.projects-deployed .card-inner {
    font-family: "Roboto", serif;
    font-style: normal;
    width: 100%;
}

.projects-deployed .card-inner p {
    font-family: "Roboto", serif;
    font-style: normal;
    line-height: 1.25;
    font-size: 14px;
    width: 86%;
    margin: 10px auto 15px auto;
}

.projects-deployed .tech-used {
    display: flex;
    overflow: scroll;
    width: 100%;
    padding-left: 10px;
}

span.tech-icon {
    display: block;
    min-width: fit-content;
    padding: 5px;
    background-color: #000;
    border-radius: 35px;
    color: #fff;
    font-family: monospace;
    font-size: 11px;
    margin: 0 4px;
}

.projects-deployed .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    right: var(--swiper-pagination-right,0px);
}
/* CONTACT SECTION */
.contact {
    padding-top: 20px;
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    color: var(--black);
}
.contact p {
    font-size: 18px;
}
.contact-img-holder {
    text-align: center;
    flex: 1 100%;
}
.logo-links {
    border-radius: 15px;
    height: 15vw;
    width: 15vw;
    margin: 10px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    header nav ul li a {
        font-size: 6vw;
    }
    .intro-message{
        font-size: 6vw;
    }
    .about-img-holder {
        padding-top: 80px;
    }
    .project-info {
        font-size: 4.5vw;
    }
    .project-title {
        font-size: 7vw;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    header nav ul li a {
        font-size: 3.5vw;
        margin: 0 10px 0 10px;
    }
   .intro-message{
    font-size: 5vw;
    }
    .about-img {
        width: 50%;
    }
    .about-me {
        font-size: 3vw;
    }
    .col {
        flex: 1 100%;
    }
    .project-img {
        height: 18rem;
        width: 27rem;
    }
    .project-info {
        font-size: 4vw;
    }
    .project-title {
        font-size: 6vw;
    }
    .logo-links {
        height: 11vw;
        width: 11vw;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    header nav ul li a {
        font-size: 3.5vw;
    }
    .background {
        background-size: 70%;
        background-position-x: 40% ;
        background-position-y: -1%;
    }
    .intro-message{
        font-size: 4vw;
    }
    .about-img {
        width: 40%;
    }
    .about-me {
        font-size: 3.25vw;
    }
    .col {
        flex: 1 100%;
    }

    .project-info {
        font-size: 3vw;
    }
    .project-title {
        font-size: 4.5vw;
    }
    .logo-links {
        height: 8vw;
        width: 8vw;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    header nav ul li a {
        font-size: 4vw;
    }
    .background {
        background-size: 75%;
        background-position-x: 40% ;
        background-position-y: 1%;
    }
    .about-img {
        width: 40%;
    }
    .about-me {
        font-size: 3.25vw;
    }
    .project-info {
        font-size: 2.25vw;
    }
    .project-title {
        font-size: 4vw;
    }
    .logo-links {
        height: 8vw;
        width: 8vw;
    }
 }

/* Extra extra large devices (large desktops, 1600px and up)*/
@media (min-width: 1400px) {     
    
    header nav ul li a {
    font-size: 3vw;
    }
    .background {
        background-size: 70%;
        background-position-x: 40% ;
        background-position-y: 1%;
    }
    .intro-message{
        font-size: 4vw;
    }
    .about-img {
        width: 40%;
    }
    .about-me {
        font-size: 2.75vw;
    }
    .project-info {
        font-size: 2.25vw;
    }
    .project-title {
        font-size: 4vw;
    }
    .logo-links {
        height: 6vw;
        width: 6vw;
    }
 }






